
.button{
    padding: 24px 244px;
    background-color: purple;
    float : left;
    top: 20%;
    width: 100%;
    max-width: 33%;

}
.center{
    width: 100%;
    text-align: center;
}

.br{
    position: absolute;
    bottom: 5%;
    right: 5%;
}

/* This is the basic textbox for storing gifts, min height is commented out but may need to make a comeback depending
on how the website looks like with more boxes*/
.storedgift{
    background-color: rgb(125, 125, 248);
    top: 32%;       
    left: 3%;
    display: block;
    /*min-height: 250px;*/
    min-width: 300px;
    max-width: 500px;
    height:auto;
    border: black;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    font-family: "Arial", sans-serif;
}
.addgift{
        display: block;
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;

      }

.botaddgift{
    position: absolute;
    bottom: 10%;       
    right: 10%;
}

#form {
    visibility: hidden;
}

.Title{
    font-family: "Verdana", sans-serif;
    width: 100%;
    text-align: center;
}

